* {
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1115px) {
    .artwork-thumb {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .nav-link{
        display: inline-block;
    }
}

@media (max-width: 1114px) {
    .artwork-thumb {
        width: 100%;
        object-fit: cover;
    }
}


.mb-10 {
    margin-bottom: 75px;
}

.artwork:hover {
    cursor: pointer;
}

.buffer-top{
    margin-top: 100px;
}

.navbar-light .navbar-toggler{
    border: none;
}

.box{
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding:24px;
}

.divider{
    border-bottom: 1px solid #cccccc;
    margin: 25px 0;
}

.shaddow-3{
    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}


input:focus, textarea:focus, select:focus{
    box-shadow: none!important;
    outline: none!important;
    border: 1px solid rgba(0,0,0,0.45)!important;
}


* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {

}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 30%;
}

.grid-item {
    float: left;
    margin-bottom: 3%;
}

.grid-item img {
    display: block;
    max-width: 100%;
    transition: all 0.5s ease;
}

.grid-item img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

